<!DOCTYPE html>
<html>
<head>
    <title>Web Slot Plotter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="container">

    <div id="controls">
        <button onclick="finishSlot()">Finish Slot</button>
        <button onclick="undo()">Undo</button>
        <button onclick="clearAll()">Clear All</button>
        <button onclick="saveSlots()">Save</button>
    </div>

    <div id="video-wrapper">
        <video id="video" autoplay playsinline></video>
        <canvas id="drawCanvas"></canvas>
    </div>

</div>

<script src="/static/cam.js"></script>
<script src="/static/script.js"></script>

</body>
</html>
